extends layouts/form-layout

block form
    input(type="hidden", name = "dateMinSup", value = (undefined===dateMinSup ? '' : dateMinSup))
    input(type="hidden", name = "dateMaxInf", value = (undefined===dateMaxInf ? '' : dateMaxInf))
    input(type="hidden", name = "coveringEventID", value = (undefined===story.coveringEvent ? null : story.coveringEvent._id))
   
    div.form-group
      label(for = "title") Titre&nbsp;:
      input#title.form-control(type='text', name = "title", value = (undefined===story ? '' : story.title))
    
    div.date-group
      .form-group
        label(for = "startDate") Date de début&nbsp;:&nbsp;&nbsp;
        input#startDate(type="date", name = "startDate", value = (undefined===mainEvent ? '' : mainEvent.startDate))
      .form-group
        label(for = "endDate") Date de fin&nbsp;:&nbsp;&nbsp;
        input#endDate(type="date", name = "endDate", value = (undefined===mainEvent ? '' : mainEvent.endDate))

    div.form-group
      label(for = "world") Monde&nbsp;:
      select#world.form-control(type='select', placeholder='Choisissez un monde', name = "world", required='true')
        option(value=null)
        for world in world_list
          -let worldId = typeof world._id === 'string' ? world._id : world._id.toString()
          -let storyWorldId = typeof story.world._id === 'string' ? story.world._id : story.world._id.toString()
          if story
            option(value=world._id selected=(worldId===storyWorldId ? 'selected' : false) ) #{world.name}
          else
            option(value=world._id) #{world.name}

    div.form-group
      label(for = "description") Résumé&nbsp;:
      textarea#description.form-control(name = "description", rows='3') #{undefined===mainEvent ? '' : mainEvent.description}

    button.btn.btn-primary(type='submit') Enregistrer

block alert
  if dateMinSup && dateMaxInf
    div.message
      p(style='color:red') Attention&nbsp;: Cette histoire contient déjà des événements qui se déroulent entre le
        |  #{formateDate(dateMinSup)} et le #{formateDate(dateMaxInf)}.